<h1>Editing type state</h1>

<%= render "form", type_state: @type_state %>

<br>

<div>
  <%= link_to "Show this type state", @type_state %> |
  <%= link_to "Back to type states", type_states_path %>
</div>
