<p style="color: green"><%= notice %></p>

<h1>Type states</h1>

<div id="type_states">
  <% @type_states.each do |type_state| %>
    <%= render type_state %>
    <p>
      <%= link_to "Show this type state", type_state %>
    </p>
  <% end %>
</div>

<%= link_to "New type state", new_type_state_path %>
